<html>
<head>
</head>
{{ error }}
    <form action='{% url 'register' %}' method='POST'>
        {% csrf_token %}
        {{ reg_form.as_p }}
        <input type="submit"/>
    </form>

</body>
</html>